@Scripts.Render("~/Views/Home")

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-8">
        <h2>Would you like to know the weather forecast?</h2>
    </div>
    <div class="col-md-2 mt-1">
        <button type="button" class="btn btn-primary" id="btnYes">Yes</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-header">
                Weather Forecast
            </div>
            <div class="card-body">
                <div class="result">
                </div>
            </div>
        </div>
    </div>
</div>